<?php
declare(strict_types=1);

return [
    'config_cache_enabled' => true,
    'app' => [
        'templates_path' =>  './src/apps/www/templates',
        'folder' => '',
        'cache_file' => './cache/fastroute.cache',
        'twig' => [
            'cache' => './cache/twig',
            'debug' => false,
            'auto_reload' => true
        ],
    ]
];