<?php
declare(strict_types=1);

return [
    'config_cache_enabled' => true,
    'app' => [
        'twig' => [
            'cache' => './cache/twig',
            'debug' => false,
            'auto_reload' => true
        ],
        'cache_file' => './cache/fastroute.cache'
    ]
];